<p ng-show="favorites" style="font-size: 20px">Your Favorites</p>
<br>
<table ng-show="favorites" class="table table-striped table-hover table-responsive" id="personalFavorites">
    <thead>
        <tr>
            <td>Tracks</td>
            <td>Artists</td>
            <td>Lyrics</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-show="!favorites.length">
            <td colspan="4">No favorites can be found, please add one first.</td>
        </tr>
        <tr ng-repeat="favorite in favorites">
            <td>{{ favorite.track }}</td>
            <td>{{ favorite.artist }}</td>
            <td><a href="#lyrics/{{ favorite.track }}/{{ favorite.artist }}" ng-click="setImage(favorite.image)">View</a></td>
            <td><a ng-click="deleteFavorites($event, favorite.id, favorite.track, favorite.artist)">Delete</a></td>
        </tr>
    </tbody>
</table>