<br>
<a href="#search" class="btn btn-default">Back to Search</a>
<a href="#favorites/{{ userid }}" class="btn btn-default" ng-show="userid">Back to Favorites</a>
<br>
<br>
<p>
    <img src="{{ image }}">
</p>
<p>
    {{ track }} - {{ artist }}
</p>
<p style="margin: 0 auto; white-space: pre">
    <span ng-show="!lyrics">
        <svg xmlns="http://www.w3.org/2000/svg" width="90px" height="90px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt">
            <rect x="0" y="0" width="100" height="100" fill="none" class="bk" />
            <circle cx="50" cy="50" r="40" stroke="#cec9c9" fill="none" stroke-width="10" stroke-linecap="round" />
            <circle cx="50" cy="50" r="40" stroke="#3c302e" fill="none" stroke-width="6" stroke-linecap="round">
                <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502" />
                <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4" />
            </circle>
        </svg>
    </span>
    {{ lyrics }}
</p>