<p ng-show="tracks" style="font-size: 20px; font-weight: bold;">Search Result</p>
<br>
<table ng-show="tracks" class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <td>Tracks</td>
            <td>Artists</td>
            <td>Lyrics</td>
            <td>Favorites</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-show="!tracks.length">
            <td colspan="4">No results can be found, add your favorites first.</td>
        </tr>
        <tr ng-repeat="track in tracks">
            <td>{{ track.track }}</td>
            <td>{{ track.artist }}</td>
            <td><a href="#lyrics/{{ track.track }}/{{ track.artist }}" ng-click="setImage(track.image)">View</a></td>
            <td><a ng-click="addToFavorites({track: track.track, artist: track.artist, image: track.image})">Add</a></td>
        </tr>
    </tbody>
</table>