<!DOCTYPE html>
<html lang="en">
<head>
    <title>Song Lyrics</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-route.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-app="app">
    <br>
    <div ng-controller="loginHandler">
        <p ng-show="loginStatus" style="font-size: 16px">If you want to add your songs to favorites, please <a href="login.html" style="color: #337ab7; text-decoration: none; font-size: 16px">Login</a> first.</p>
        <p ng-show="!loginStatus" style="font-size: 16px">
            Hello, {{ username }}! 
            <a href="#favorites/{{ userid }}" ng-click="favorites()" ng-show="!loginStatus" style="font-size: 16px; color: #337ab7; text-decoration: none;">Your Favorites</a>
            |
            <a href="#" ng-click="logout" confirmation-needed="Are you sure to Logout?" style="color: #337ab7; text-decoration: none; font-size: 16px">Log out</a>
        </p>
    </div>

    <div ng-controller="searchTracks">
        <p style="font-size: 20px; font-weight: bold">Search Tracks</p>
        <form name="searchCriteria" class="form-horizontal">
            <div class="form-group">
                <label for="track" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="text" name="track" class="form-control" ng-model="track" placeholder="Track" required />
                    <span ng-show="searchCriteria.track.$touched && searchCriteria.track.$error.required">The track is required.</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="track" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="text" name="artist" class="form-control" ng-model="artist" placeholder="Artist" />
                </div>
            </div>

            <a href="#search" ng-click="submit()" ng-hide="searchCriteria.track.$error.required" class="btn btn-default">Submit</a>
        </form>
        
        <br>
        <br>
        
        <div ng-show="loading">
            <svg xmlns="http://www.w3.org/2000/svg" width="90px" height="90px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk" />
                <circle cx="50" cy="50" r="40" stroke="#cec9c9" fill="none" stroke-width="10" stroke-linecap="round" />
                <circle cx="50" cy="50" r="40" stroke="#3c302e" fill="none" stroke-width="6" stroke-linecap="round">
                    <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502" />
                    <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4" />
                </circle>
            </svg>
        </div>
    </div>
    
    <div ng-view></div>
</body>
</html>
