<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-route.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-app="app">
    <br>
    <div ng-controller="loginHandler">
        <p style="font-size: 20px; font-weight: bold">Login</p>
        <form name="loginForm" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="text" name="username" class="form-control" ng-model="username" placeholder="Username" required />
                    <span ng-show="loginForm.username.$touched && loginForm.username.$error.required">The username is required.</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="password" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" required />
                    <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">The password is required.</span>
                </div>
            </div>

            <button ng-click="login()" ng-hide="loginForm.username.$invalid || loginForm.password.$invalid" class="btn btn-default">Submit</button>
            <a href="register.html" class="btn btn-default">Register</a>
        </form>
        <br>
        <br>
        <p ng-show="loggedIn" style="font-size: 16px; color: green">Login successful! Redirect now...</p>
        <p ng-show="loggedInFail" style="font-size: 16px; color: red">Login failed! Please try again.</p>
    </div>
</body>
</html>
