<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular-route.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-app="app">
    <br>
    <div ng-controller="registerHandler">
        <p style="font-size: 20px; font-weight: bold">Register</p>
        <form name="registerForm" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="text" name="username" class="form-control" ng-model="username" ng-minlength="8" placeholder="Username" required />
                    <span ng-show="duplicate">The username is duplicated.</span>
                    <span ng-show="registerForm.username.$touched && registerForm.username.$error.required">The username is required.</span>
                    <span ng-show="registerForm.username.$touched && registerForm.username.$error.minlength">The username must be greater than or equal to 8.</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="password1" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="password" name="password1" class="form-control" ng-model="password1" ng-minlength="8" placeholder="Password" required />
                    <span ng-show="registerForm.password1.$touched && registerForm.password1.$error.required">The password is required.</span>
                    <span ng-show="registerForm.password1.$touched && registerForm.password1.$error.minlength">The password must be greater than or equal to 8.</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="password2" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="password" name="password2" class="form-control" ng-model="password2" ng-pattern="(password1)" placeholder="Re-Password" required />
                    <span ng-show="registerForm.password2.$error.pattern">The re-password is not matched.</span>
                    <span ng-show="registerForm.password2.$touched && registerForm.password2.$error.required">The re-password is required.</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="email" class="col-sm-1 col-lg-1 col-xs-1 col-sm-offset-3 col-lg-offset-4 col-xs-offset-3"></label>
                <div class="col-sm-4 col-lg-2 col-xs-4">
                    <input type="email" name="email" class="form-control" ng-model="email" placeholder="Email" required />
                    <span ng-show="registerForm.email.$touched && registerForm.email.$invalid">The email is invalid.</span>
                </div>
            </div>

            <button ng-click="register()" ng-hide="registerForm.username.$error.required || registerForm.password1.$error.required || registerForm.password2.$error.required || registerForm.email.$invalid" class="btn btn-default">Register</button>
            <button ng-click="reset()" class="btn btn-default">Reset</button>
        </form>
        <br>
        <br>
        <p ng-show="registered" style="font-size: 16px; color: green">Register successful! Redirect now...</p>
    </div>
</body>
</html>